
<header class="container-fluid">
    <div class="row">
      <div class="logo">
        <img class="logo" ngSrc="assets/APLogo-20-20.png" alt="logo" width="150" height="40" priority>
        <span class="mobile">Mobile</span>
      </div>
    <nav class="navbar">

      <ul>
        <li data-title="Home" ><a class="active" routerLink='/paginas/home'>
            <fa-icon [icon]="faHome" class="active"></fa-icon>
          </a>
        </li>

        <li data-title="About"><a routerLink='/paginas/about'>
            <fa-icon [icon]="faAddressCard"></fa-icon>
          </a>
        </li>

        <li data-title="Skills"><a routerLink='/paginas/skills'>
            <fa-icon [icon]="faGears"></fa-icon>
          </a>
        </li>

        <li data-title="Studies"><a routerLink='/paginas/studies'>
            <fa-icon [icon]="faBuildingColumns"></fa-icon>
          </a>
        </li>

        <li data-title="Projects"><a routerLink='/paginas/projects'>
          <fa-icon [icon]="faDiagramProject"></fa-icon>
        </a>
        </li>

        <li>
          <a routerLink='/paginas/social'>
            <fa-icon [icon]="faEnvelope" aria-hidden="true"></fa-icon>
          </a>
        </li>
      </ul>
    </nav> 
    </div>
       
          <ul class="social ingreso">
            <li><a routerLink='#' (click)="login()" *ngIf="!isLogged">
              <fa-icon [icon]="faUser"></fa-icon>
            </a>
          </li>
          <li><a routerLink='#' (click)=" onLogOut()" *ngIf="isLogged">
            <fa-icon [icon]="faUserSlash"></fa-icon>
          </a>
        </li>
      </ul>
     
   </header>



<router-outlet></router-outlet>