body {
    box-sizing: border-box;
}

.container {
  position: relative;
  top: 2.8rem;
  height: 76vh;
  width: 95vw;
  align-items: center;
  box-shadow: 5px 20px 15px  rgba(0, 0, 0, 0.4);
  background: linear-gradient(10deg, #ececec, #fff);
  transition: 1s;
  overflow-x: hidden;
  background-image: url(../../../assets/EntityFramework-600x300.webp);
  background-repeat: no-repeat;
  background-size: cover; 
}

.container-item {
  position: relative;
  width: 100%;
  text-align: center;
  color: #fff;
  height: 25vh;
  padding-top: 1px;
  margin: 40px 0;
 }

 h1 {
   font-size: 1.8rem;
   box-shadow: 0 5px 10px rgba(0, 0, 0, 1);
   background-color: rgba(0, 0, 0, 0.6);
   color: #fff;
   text-shadow: 0 0 10px #fff,
    0 0 20px #fff,
    0 0 50px #fff;
    margin: 2rem 0.5rem 0.2rem;
 }
 
 b {
  font-size: 1.8rem;
 }

 img {
   display: flex;
   width: 100%;
   margin: 0 4%;
  }
  
  img:hover {
   transform: scale(1.2);
   transition: all .7s ease;
 }

 .modal {
  z-index: 99999;
}

.btn-danger ,.btn-warning {
  position: relative;
  margin-top: 5px;
}

@media screen and (min-width:990px) {
  .container {
    top: 1.7rem;
    height: 74.5vh;
  }
  .main-container {
    width: 100%;
    margin:0 27%;
  }
  .item {
    width: 50%;
  }
}


 
  


